In [1]:
import pandas as pd
import numpy as np

In [2]:
job_data = pd.read_csv('Preprocessed Job Requirements.csv', low_memory=False)

In [3]:
# Removing trailing spaces from all columns
for column_name in job_data.columns:
    column_list = job_data[column_name].tolist()
    for i in range(len(column_list)):
        if isinstance(column_list[i],str):
            column_list[i] = column_list[i].strip()
    job_data[column_name] = column_list

In [4]:
resume_data = pd.read_csv('Preprocessed Resume Data2.csv')

In [5]:
# Removing trailing spaces from all columns
for column_name in job_data.columns:
    column_list = job_data[column_name].tolist()
    for i in range(len(column_list)):
        if isinstance(column_list[i],str):
            column_list[i] = column_list[i].strip()
    job_data[column_name] = column_list

In [6]:
# Joining IT Skills, IT Skills Experience and Key Skills in resume data
IT_Skills = []
IT_Skills_Experience = []
Key_Skills = []
for i in range(4626):
    sample_it_skills_list = []
    sample_key_skills_list = []
    sample_it_skills_experience_list = []
    for j in range(1,31):
        var_it = resume_data['IT Skill '+str(j)].tolist()[i]
        if isinstance(var_it,str):
            sample_it_skills_list.append(var_it)
        var_key = resume_data['Key Skill '+str(j)].tolist()[i]
        if isinstance(var_key,str):
            sample_key_skills_list.append(var_key)
        var_experience = resume_data['IT Skill '+str(j)+' Experience'].tolist()[i]
        sample_it_skills_experience_list.append(str(var_experience))

    IT_Skills.append(','.join(sample_it_skills_list))
    Key_Skills.append(','.join(sample_key_skills_list))
    IT_Skills_Experience.append(','.join(sample_it_skills_experience_list))
resume_data['IT Skills'] = IT_Skills
resume_data['Key Skills'] = Key_Skills
resume_data['IT Skills Experience'] = IT_Skills_Experience

In [7]:
# Joining IT Skills and Key Skills in job requirements data
IT_Skills = []
Key_Skills = []
for i in range(5090):
    sample_it_skills_list = []
    sample_key_skills_list = []
    for j in range(1,255):
        var_it = job_data['IT Skill '+str(j)].tolist()[i]
        if isinstance(var_it,str):
            sample_it_skills_list.append(var_it)
    for j in range(1,37):    
        var_key = job_data['Key Skills '+str(j)].tolist()[i]
        if isinstance(var_key,str):
            sample_key_skills_list.append(var_key)

    IT_Skills.append(','.join(sample_it_skills_list))
    Key_Skills.append(','.join(sample_key_skills_list))
    
job_data['IT Skills'] = IT_Skills
job_data['Key Skills'] = Key_Skills

In [8]:
# Locations from job requirements data
locations = set()
for i in range(1,9):
    for location in job_data['Location '+str(i)]:
        if isinstance(location,str):
            locations.add(location.lower())
#locations

In [9]:
# Changing names of the cities which has multiple names in job requirements data
for i in range(1,9):
    locations = job_data['Location '+str(i)].tolist()
    for num in range(len(locations)):
        if isinstance(locations[num],str):
            if locations[num].lower() == 'bangalore':
                locations[num] = 'Bengaluru'
            elif locations[num].lower() == 'gurgaon':
                locations[num] = 'Gurugram'
            elif locations[num].lower() == 'trivandrum':
                locations[num] = 'thiruvananthapuram'
            elif locations[num].lower() == 'cochin':
                locations[num] = 'Kochi'
            elif locations[num].lower() == 'pondicherry':
                locations[num] = 'Puducherry'
            elif locations[num].lower() == 'mangalore':
                locations[num] = 'Mangaluru'
    job_data['Location '+str(i)] = locations

In [10]:
# Locations from resume data
locations = set()
for i in range(1,4):
    for location in resume_data['Preferred Location '+str(i)]:
        if isinstance(location,str):
            locations.add(location.lower())
# locations

In [11]:
# Changing names of the cities which has multiple names in resume data
for i in range(1,4):
    locations = resume_data['Preferred Location '+str(i)].tolist()
    for num in range(len(locations)):
        if isinstance(locations[num],str):
            if locations[num].lower() == 'bangalore':
                locations[num] = 'Bengaluru'
            elif locations[num].lower() == 'gurgaon':
                locations[num] = 'Gurugram'
            elif locations[num].lower() == 'trivandrum':
                locations[num] = 'thiruvananthapuram'
            elif locations[num].lower() == 'cochin':
                locations[num] = 'Kochi'
            elif locations[num].lower() == 'pondicherry':
                locations[num] = 'Puducherry'
            elif locations[num].lower() == 'mangalore':
                locations[num] = 'Mangaluru'
    resume_data['Preferred Location '+str(i)] = locations

In [12]:
job_data.to_csv('Job Requirements.csv', index=False)
resume_data.to_csv('Resume.csv', index=False)

In [13]:
# No. of IT Skills in resume data = 30
# No. of Key Skills in resume data = 30
# No. of IT Skills in job requirements data = 254
# No. of Key Skills in job requirements data = 36
# Total number of rows in resume data = 4626
# Total number of rows in job requirements data = 5090

In [14]:
# Recommend Job Requirements for a given resume
index = 420
# resume_data.iloc[[index]]
input_resume = resume_data.iloc[[index]]
IT_Skills = [x.lower() for x in input_resume['IT Skills'].tolist()[0].split(',')]
IT_Skills_Experience = [float(x) for x in input_resume['IT Skills Experience'].tolist()[0].split(',')]
Key_Skills = [x.lower() for x in input_resume['Key Skills'].tolist()[0].split(',')]

Total_Score = []
for num in range(5090):
    score = 0
    job = job_data.iloc[[num]]
    
    Job_IT_Skills = [x.lower() for x in job['IT Skills'].tolist()[0].split(',')]
    Job_Key_Skills = [x.lower() for x in job['Key Skills'].tolist()[0].split(',')]

    for i in range(len(IT_Skills)):
        if IT_Skills[i] in Job_IT_Skills:
            score = score + (IT_Skills_Experience[i] * 1 + 1) * (Job_IT_Skills.count(IT_Skills[i]))
    for i in range(len(Key_Skills)):
        if Key_Skills[i] in Job_Key_Skills:
            score = score + 1
    Total_Score.append(score)
# print(Total_Score)
output = np.argsort(np.array(Total_Score))[::-1]
# input_resume.to_csv('Input(Resume).csv')
job_data.iloc[output[0:10]]

,Job Title,Company,Experience,Salary,Location,Job Description,Role,Industry Type,Functional Area,Employment Type,...,IT Skill 245,IT Skill 246,IT Skill 247,IT Skill 248,IT Skill 249,IT Skill 250,IT Skill 251,IT Skill 252,IT Skill 253,IT Skill 254
1918,Lead / Senior DevOps Engineer,Sorice Solutions,3 - 7 years,Not Disclosed,Kochi,Responsibilities: Serve as key leader and ...,Software Developer,"BPO,Call Centre,ITeS","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Software Development Engineer II - DevOps,HyrEzy Talent Solutions,3 - 6 years,Not Disclosed,Delhi,Responsibilities : - Maintain and enhance the ...,Software Developer,"IT-Software,Software Services",IT Software - System Programming,"Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3180,Senior Software Developer,Clarivate Analytics (TRCPL Projects Pvt Ltd.),6 - 10 years,Not Disclosed,Bangalore,We are looking for engineers with backgrounds ...,Software Developer,"IT-Software,Software Services","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3047,Experienced Software Developer,Boeing,6 - 9 years,Not Disclosed,Bangalore,"As an Experienced Software Developer, the sele...",Software Developer,"Government,Defence","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3079,Software Developer,Borgos Technologies,5 - 10 years,Not Disclosed,"Guwahati,Bangalore",Develop high quality maintainable code\nPartic...,Software Developer,"IT-Software,Software Services",IT Software - System Programming,"Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,Sr Software Developer,Clarivate Analytics,3 - 5 years,Not Disclosed,Bangalore,We are looking for engineers with backgrounds ...,Software Developer,"KPO,Research,Analytics","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,Senior Software Developer,Clarivate Analytics,3 - 5 years,Not Disclosed,Bangalore,We are looking for engineers with backgrounds ...,Software Developer,"KPO,Research,Analytics","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4364,Software Developer,Clarivate Analytics (TRCPL Projects Pvt Ltd.),3 - 5 years,Not Disclosed,Bangalore,We are looking for engineers with backgrounds ...,Software Developer,"IT-Software,Software Services","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,Sr Software Developer,Clarivate Analytics (TRCPL Projects Pvt Ltd.),6 - 10 years,Not Disclosed,Bangalore,We are looking for engineers with backgrounds ...,Software Developer,"IT-Software,Software Services","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1838,Devops Cloud Engineer,Contus,5 - 10 years,Not Disclosed,Chennai,We are looking for a Devops Cloud Engineer to ...,Software Developer,"BPO,Call Centre,ITeS","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
resume_data.iloc[[index]]

,Name,Current Location,Preferred Location 1,Preferred Location 2,Preferred Location 3,Functional Area,Industry,Total Experience,Highest Degree,UG,...,Key Skill 25,Key Skill 26,Key Skill 27,Key Skill 28,Key Skill 29,Key Skill 30,Resume,IT Skills,Key Skills,IT Skills Experience
420,Mahesh Kumar Shanigarapu,Hyderabad,Hyderabad,Pune,INDIA,IT Software - Application Programming / Mainte...,IT-Software/Software Services,3.0,Bachelor's Degree,Degree in Computers,...,NaN,NaN,NaN,NaN,NaN,NaN,1/22/2021 https://freesearch.naukri.com/previe...,"HTML,GitHub,Kubernetes,Git,Jenkins,Ansible,Doc...","Software Engineer/Developer,Software Engineeri...","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0...."

In [16]:
# Recommend Resumes for a given Job Requirement
index = 2
# resume_data.iloc[[index]]
input_job = job_data.iloc[[index]]
IT_Skills = [x.lower() for x in input_job['IT Skills'].tolist()[0].split(',')]
# IT_Skills_Experience = [float(x) for x in input_job['IT Skills Experience'].tolist()[0].split(',')]
Key_Skills = [x.lower() for x in input_job['Key Skills'].tolist()[0].split(',')]

Total_Score = []
for num in range(4626):
    score = 0
    resume = resume_data.iloc[[num]]
    
    Resume_IT_Skills = [x.lower() for x in resume['IT Skills'].tolist()[0].split(',')]
    IT_Skills_Experience = [float(x) for x in resume['IT Skills Experience'].tolist()[0].split(',')]
    Resume_Key_Skills = [x.lower() for x in resume['Key Skills'].tolist()[0].split(',')]

    for i in range(len(Resume_IT_Skills)):
        if Resume_IT_Skills[i] in IT_Skills:
            score = score + (IT_Skills_Experience[i] * 1 + 1)
    for i in range(len(Key_Skills)):
        if Key_Skills[i] in Resume_Key_Skills:
            score = score + 1
    Total_Score.append(score)
# print(Total_Score)
output = np.argsort(np.array(Total_Score))[::-1]
# input_job.to_csv('Input(Job).csv')
resume_data.iloc[output[0:10]]

,Name,Current Location,Preferred Location 1,Preferred Location 2,Preferred Location 3,Functional Area,Industry,Total Experience,Highest Degree,UG,...,Key Skill 25,Key Skill 26,Key Skill 27,Key Skill 28,Key Skill 29,Key Skill 30,Resume,IT Skills,Key Skills,IT Skills Experience
3203,ANANTHA SUNDAR RAJAN,Chennai,Bengaluru,Chennai,Kolkata,IT Software - Application Programming / Mainte...,IT-Software/Software Services,16.0,Master's Degree,"Degree in Electrical, Electronics & Communication",...,NaN,NaN,NaN,NaN,NaN,NaN,ANANTHA SUNDAR RAJAN - 16 Year(s) 0 Month(s)\n...,"Java,AWS,Affirmative Action Work Authorization...","Project Management,Delivery Management,Risk Ma...","12.6,7.0,0.0,7.0,12.0,8.6,0.0,4.0,8.6,4.6,6.6,..."
3481,RAJESH KANJANI,Pune,Pune,Bengaluru,Hyderabad,IT Software - Application Programming / Mainte...,IT-Software/Software Services,20.0,Master's Degree,"Degree in Electrical, Electronics & Communication",...,NaN,NaN,NaN,NaN,NaN,NaN,RAJESH KANJANI - 20 Year(s) 0 Month(s)\n\n\nSa...,"Windows,Java,Unix,.Net,C++,Confluence,SharePoi...","Program Management,Product Development,Softwar...","15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,0.0,7...."
3274,RAJESH KANJANI,Pune,Pune,Bengaluru,Hyderabad,IT Software - Application Programming / Mainte...,IT-Software/Software Services,20.0,Master's Degree,"Degree in Electrical, Electronics & Communication",...,NaN,NaN,NaN,NaN,NaN,NaN,RAJESH KANJANI - 20 Year(s) 0 Month(s)\n\n\nSa...,"Windows,Java,Unix,.Net,C++,Confluence,SharePoi...","Program Management,Product Development,Softwar...","15.0,15.0,15.0,15.0,15.0,15.0,15.0,15.0,0.0,7...."
3173,BINESH JOSE,Bengaluru,Bengaluru,Anywhere in South,NaN,IT Software - Application Programming / Mainte...,IT-Software/Software Services,17.0,Doctorate Degree,"Degree in Electrical, Electronics & Communication",...,NaN,NaN,NaN,NaN,NaN,NaN,BINESH JOSE - 17 Year(s) 0 Month(s)\n\n\nSales...,"GCP,Oracle,AWS,Terraform,Docker,Kubernetes,Mic...","Project Management,Cloud,Architecture,AWS,Pyth...","0.0,10.0,10.0,0.0,5.0,9.0,0.0,9.0,0.0,4.0,4.0,..."
4239,Anand Kumar Reddy P,Bengaluru,Bengaluru,Chennai,Hyderabad,IT Software - Application Programming / Mainte...,IT-Software/Software Services,14.0,Bachelor's Degree,Degree in Mechanical,...,NaN,NaN,NaN,NaN,NaN,NaN,Anand Kumar Reddy P - 14 Year(s) 0 Month(s)\n\...,"Java,Month(s),Apache Tomcat,JBOSS,Month(s),MS ...","manager,team lead/tech lead,software engineeri...","13.0,0.0,0.0,13.0,0.0,13.0,0.0,0.0,0.0,0.0,2.0..."
3519,Shashank,Noida,Bengaluru,NaN,NaN,IT Software - Application Programming / Mainte...,IT-Software/Software Services,2.8,Bachelor's Degree,Degree in Computers,...,NaN,NaN,NaN,NaN,NaN,NaN,Shashank - 2 Year(s) 8 Month(s)\n\n\nSales Enq...,"AWS,Data Structures,Python,Glue,AWS,AWS,AWS,Ja...","AWS,IBM DB2,MySQL,Oracle,Python,Pyspark","2.8,2.8,2.8,2.8,2.8,2.8,2.0,2.8,0.0,0.0,2.8,2...."
2484,RAKESH KUMAR PRASAD,Noida,Bengaluru,Delhi,Hyderabad,IT Software - Application Programming / Mainte...,IT-Software/Software Services,12.0,Master's Degree,Degree in Mathematics,...,NaN,NaN,NaN,NaN,NaN,NaN,1/22/2021 https://freesearch.naukri.com/previe...,"DataBricks,Python,Spark,SCALA,HIVE,AWS,MVC,GO,...","requirement analysis,client relationship manag...","4.0,5.0,3.0,3.0,4.0,4.0,5.0,2.0,3.0,5.0,0.0,0...."
2488,Santham Murugan,Bengaluru,Bengaluru,NaN,NaN,IT Software - Application Programming / Mainte...,IT-Software/Software Services,12.0,Bachelor's Degree,Degree in Computers,...,Cloud Foundry,Spring Integration,NaN,NaN,NaN,NaN,1/22/2021 https://freesearch.naukri.com/previe...,"Spring Framework,Spring Framework,Spring Frame...","Web Technologies,Unit Testing,JSP Servlets,Obj...","10.0,8.0,6.0,8.0,5.0,4.0,5.0,8.0,8.0,9.0,0.0,0..."
2397,Sachin Kumar,Pune,Delhi,Gurugram,Noida,IT Software - Application Programming / Mainte...,IT-Software/Software Services,9.0,Master's Degree,Degree in Mathematics,...,NaN,NaN,NaN,NaN,NaN,NaN,1/22/2021 https://freesearch.naukri.com/previe...,"Java,Java,Java,JDBC,JSP,Servlet,Procedure,Func...","Manager (IT-Business Analyst),Software Develop...","8.6,0.0,8.6,0.0,0.0,8.6,0.0,0.0,8.6,0.0,0.0,8...."
2406,Suresh Pasupuleti,Dubai,Dubai,United Arab Emirates (UAE),United,IT Software - Application Programming / Mainte...,IT-Software/Software Services,10.0,Bachelor's Degree,Degree in Computers,...,NaN,NaN,NaN,NaN,NaN,NaN,1/22/2021 https://freesearch.naukri.com/previe...,"Java,Spring Framework,MySQL,Angular JS,MS SQL ...","Senior Consultant,Software Developer,Applicati...","6.0,6.0,5.0,3.0,5.0,8.0,10.0,5.0,5.0,4.0,0.0,0..."

In [17]:
job_data.iloc[[index]]

,Job Title,Company,Experience,Salary,Location,Job Description,Role,Industry Type,Functional Area,Employment Type,...,IT Skill 245,IT Skill 246,IT Skill 247,IT Skill 248,IT Skill 249,IT Skill 250,IT Skill 251,IT Skill 252,IT Skill 253,IT Skill 254
2,"Senior Manager, Software Development File Anal...",Nutanix India Technologies Private Limited,10 - 12 years,Not Disclosed,Pune,We are looking for a leader who is passionate ...,Software Developer,"IT-Software,Software Services","IT Software - Application Programming,Maintenance","Full Time, Permanent",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN